/* Ubuntu-fonts import (font-family: 'Ubuntu', sans-serif;) */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Google Sans Code import (font-family: "Google Sans Code", monospace;) */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

body {
margin: 0;
background-color: rgb(0, 8, 13);
align-items: center;
align-self: center;
align-content: center;
}

h1{
color: rgba(19, 185, 124, 0.91);
font-family: 'Ubuntu', sans-serif;
font-size: clamp(3rem, 6vw, 2rem);
margin: 0.5rem;
}

h2{
color: rgb(255, 255, 255);
font-family: "Google Sans Code", monospace;
margin-bottom: 1rem;
}

h3{
color: rgb(255, 255, 255);
font-family: "Google Sans Code", monospace;
margin: 1rem;
}

p{
color: rgb(255, 255, 255);
font-family: "Google Sans Code", monospace;
margin: 1rem;
}

.me-img{
margin: 1px;
max-width: 40rem;
border-style: solid;
border-color:rgb(255, 255, 255);
border-radius: 50%;
object-fit: cover;
margin: 25px;
}

.me-container{
display: flex;
justify-content: center;
align-items: center;
min-height: 100svh;
text-align: center;
}

.responsive-line {
height: 2px;
background-color: #333;
width: 100%;
margin: 20px 0;
transform: scaleY(0.5);
transform-origin: top;
}

.socials-links{
display: flex;
justify-content: center;
align-items: center;
gap: 15px;
}

.socials-title{
margin-top: 0;
}

.linkedin-logo-class {
transition: transform 0.3s ease;
}

.linkedin-logo-class:hover{
transform: scale(1.2);
}

.github-logo-class{
transition: transform 0.3s ease;
}

.github-logo-class:hover{
transform: scale(1.2);
}

.instagram-logo-class{
transition: transform 0.3s ease;
}

.instagram-logo-class:hover{
transform: scale(1.2);
}

.mail-logo-class{
transition: transform 0.3s ease;
}

.mail-logo-class:hover{
transform: scale(1.2);
}

.x-logo-class{
transition: transform 0.3s ease;
}

.x-logo-class:hover{
transform: scale(1.2);
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 8, 13);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #8b8484;
  border-top: 6px solid rgba(19, 185, 124, 0.91);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.tech-stack {
    display: flex;            
    align-items: center;    
    gap: 10px;              
    justify-content: center;
}

.tech-stack img {
    height: 30px;             
    width: auto;         
}

.my-tech-h1{
font-size: xx-large;
color:rgb(3, 146, 255);
}

.about-text {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 480px) {
  .about-text {
    font-size: 0.95rem;
    line-height: 1.7;
    padding: 0 1rem;
  }
}

.project-repo-btn{
background-color: rgb(3, 146, 255);
color:  #032357;
border-style: none;
border-radius: 10px;
width: 10rem;
height: 2rem;
font-family: "Google Sans Code", monospace;
transition: transform 0.3s ease;
margin: 1rem;
}

.project-repo-btn:hover{
background-color: rgb(3, 146, 255);
color:  #032357;
border-style: none;
border-radius: 10px;
width: 10rem;
height: 2rem;
font-family: "Google Sans Code", monospace;
transform: scale(1.1);
margin: 1rem;
}

.project-description{
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 1rem;
  text-align: center;
}

.project-title{
font-size: larger;
}

footer{
  background-color: #022d50;
  color: #085cbc;
  padding: 20px;
  width: 100%;
  box-sizing: border-box; 

}

@media (max-width: 600px) {
  .footer-content {
    flex-direction: column; 
    text-align: center;
  }

  .footer-content nav a {
    margin: 10px 5px; 
  }
}